


/*.header>img {
    
    width: 206px;
    height: 85px;
}
 .head-section{
     padding-left: 20px;
     padding-right: 2px;
 }




/*
.col-md-10 { 
    width: 83.33333333%;
}

.col-lg-6 {
    width: 50%;
}
.services-style {
    color: #3a2c8f;
    text-align: center;
    font-weight: bolder;
    font-size: xxx-large;
}
h1 {
    font-size: 32px;
    line-height: 45px;
    margin: 150px;
    margin-left: 505px;
    

}
.text-justify {
    text-align: justify;
}

.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: left;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
html, body, div, span, applet, object, iframe, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    float: left;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
body {
    border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
    font-size: 14px;
    line-height: 25px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #7e8082;
    background-color: #fff;
    -webkit-font-smoothing: antialiased !important;
    -webkit-text-size-adjust: 100% !important;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
::selection {
    background-color: #ffea00;
    color: #4b4e53;
}
.row, .clearfix {
    zoom: 1;
}
.mb-5 {
    margin-bottom: 5px !important;
}
.mt-5 {
    margin-top: 5px !important;
}
.row {
    margin-right: -14px;
    margin-left: -15px;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
html, body, div, span, applet, object, iframe, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
body {
    border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
    font-size: 14px;
    line-height: 25px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #7e8082;
    background-color: #fff;
    -webkit-font-smoothing: antialiased !important;
    -webkit-text-size-adjust: 100% !important;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
.clearfix:before, .clearfix:after, .row:before, .row:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: " ";
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.row:after, .clearfix:after {
    clear: both;
}
.clearfix:before, .clearfix:after, .row:before, .row:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.btn-group-vertical>.btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {
    clear: both;
}
.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: " ";
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
::selection {
    background-color: #ffea00;
    color: #4b4e53;
}
.row, .clearfix {
    zoom: 1;
}
.mb-5 {
    margin-bottom: 5px !important;
}
.mt-5 {
    margin-top: 5px !important;
}
.row {
    margin-right: -14px;
    margin-left: -15px;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
html, body, div, span, applet, object, iframe, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
body {
    border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
    font-size: 14px;
    line-height: 25px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #7e8082;
    background-color: #fff;
    -webkit-font-smoothing: antialiased !important;
    -webkit-text-size-adjust: 100% !important;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
.clearfix:before, .clearfix:after, .row:before, .row:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: " ";
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.row:after, .clearfix:after {
    clear: both;
}
.clearfix:before, .clearfix:after, .row:before, .row:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.btn-group-vertical>.btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {
    clear: both;
}
.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: " ";
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
::selection {
    background-color: #ffea00;
    color: #4b4e53;
}   
*/

















    



@font-face {    font-family: 'font2';    src:url(../font/open.ttf);}@font-face {    font-family: 'font3';    src:url(../font/ACaslonPro-Italic.otf);}@font-face {    font-family: 'font1';    src:url(../font/open.ttf);}body{margin:0px;}
#container{width:100%;height:auto;margin:auto;overflow:hidden;border-top:20px solid #00adef;
    position: fixed;
    z-index: 1;

}.header{
    width:100%;height:auto;overflow:hidden;
}.header>img{margin-left:0%;}
#topnav{
    float:right;width:40%;font-family:font1;overflow:hidden;margin-top:4%;margin-left: auto;}

#topnav a{text-decoration:none; padding:1% 9% 1% 2%; float:left; color:#000000;font-size:16px;}#topnav>a:hover,#topnav>a.active{color:#0054a5;background-color:#01aef0;color:#FFF;border-radius:5px;}.slide{width:100%;height:auto;margin:auto;}
.slide>img{width:100%;height:auto;}#slie{transition:all .9s;}#menu2{width:100%;height:auto;margin:auto;overflow:hidden;background-color:#01aef0;padding-top:1%;padding-bottom:1%;}#topnav2{width:100%;font-family:font1;overflow:hidden;margin:auto;height:auto;text-align:center;}#topnav2 a{text-decoration:none;   color:#FFFFFF;margin-left:2%;font-size:15px;}#topnav2 a:hover{color:#000;}#topnav2>h3{font-family:font1;font-size:25px;color:#000000;font-weight:200;margin:0px;margin-top:0px;width:100%;}
#con{width:100%;height:auto;margin:auto;overflow:hidden;background-color:#fff;}#about{width:83%;height:auto;margin:auto;overflow:hidden;background-color:#ececec;border-radius:10px;margin-top:3%;}#about>h2{font-family:font1;font-size:30px;color:#777777;font-weight:200;margin:2%;margin-top:1%;}.button1{width:14%;height:auto;float:right;background-color:#00bdf4;border:none;border-radius:8px;padding:1% 2% 1% 2%;color:#FFF;font-family:font1;font-size:20px;margin-top:-7%;margin-right:3%;}#about>p{width:95%;margin:auto; font-family:font2;font-size:16px;color:#777777;margin-top:-10px;padding-bottom:2%;text-align:justify;text-indent:20px;}#product{width:80%;height:auto;margin:auto;overflow:hidden;background-color:#fff;margin-top:2%;margin-bottom:1%;}.productbox{width:100%;height:auto;margin:auto;overflow:hidden;border-radius:10px;float:left;text-align:center;}.button2:hover{background-color:#0a88ce;}.pdt {background-color:#f3f3f3;	float:left;height: auto;perspective: 600;width: 20%;margin-left:4%;border-radius:5px;text-align:center;padding-bottom:1%;}.pdt>a{text-decoration:none;width:60%;height:auto;background-color:#02a3da;border:none;border-radius:4px;padding:1% 2% 1% 2%;color:#FFF;font-family:font2;font-size:15px;}.p_img{width:100%;height:auto;margin:auto;}.p_des{width:100%;height:auto;margin:auto;overflow:hidden;margin-bottom: 2%;}.p_des>h3{font-family:font1;font-weight:bold;text-transform:uppercase;color:#777777;font-size:18px;text-align:center;margin:0px;}.p_des>p{font-family:font2;color:#777777;font-size:14px;text-align:center;margin:0px;}.button2{width:60%;height:auto;background-color:#02a3da;border:none;border-radius:8px;margin:auto;padding:1% 2% 1% 2%;color:#FFF;font-family:font2;font-size:24px;margin-top:7%;}#con1{width:100%;height:auto;margin:auto;overflow:hidden;background-color:#fff;padding-top:2%;}#cont_inner{width:80%;height:auto;margin:auto;overflow:hidden;}.an1{width:30%;height:auto;float:left;}.an1>h4{font-family:font1;font-size:21px;color:#777777;font-weight:100;margin:0px;}.an1>ul{font-family:font1;font-size:13px;color:#777777;font-weight:100;margin:0px;list-style:url(../image/arow.png);margin-top:5%;}.an1>ul li{line-height:27px;}.an2{width:40%;height:220px;float:left;margin-bottom:2%;}.an3{width:100%;height:auto;background-color:#c4e5f8;margin:auto;margin-top:2%;padding-bottom:2%;border-radius:15px;}.an3>p{font-family:font2;font-size:16px;color:#777777;font-weight:100;margin:0px;width:90%;text-align:center;padding-top:2%;}.an3>h5{font-family:font1;font-size:20px;color:#777777;font-weight:100;margin:0px;text-align:center;}#con2{width:80%;height:auto;margin:auto;overflow:hidden;}#con2>h3{font-family:font1;font-size:28px;color:#777777;font-weight:bold;margin:0px;text-align:left;}#con2>img{margin-left:2%;width:15%}/**************About US***************/.wallpaper{width:100%;height:auto;margin:auto;border-top:2px solid #666;border-bottom:2px solid #666;}.anshad{width:80%;height:auto;background-color:#fff;margin:auto;border-bottom-left-radius:20px;border-bottom-right-radius:20px;overflow:hidden;}.anshad{width:80%;height:auto;background-color:#fff;margin:auto;border-bottom-left-radius:20px;border-bottom-right-radius:20px;overflow:hidden;}.anshad>p{width:90%;margin:auto; font-family:font2;font-size:18px;color:#000;padding-bottom:2%;text-align:justify;font-weight:normal}.anshad>h2{font-family:font1;font-size:40px;color:#0074b4;font-weight:200;margin:0px;margin-top:2%;margin-left:5%;}.anshad>h3{font-family:font1;font-size:30px;color:#000000;font-weight:100;margin:0px;margin-top:2%;margin-left:5%;width:600px;}.anshad>h5{font-family:font1;font-size:22px;color:#0074b4;font-weight:100;margin:0px;margin-top:.2%;margin-left:6%;}.anshad>h4{font-family:font1;font-size:28px;color:#0074b4;font-weight:100;margin:0px;margin-top:2%;margin-left:5%;}.anshad>ul{margin-left:8%;}.anshad>ul li{font-family:font2;font-size:18px;color:#000;list-style:url(../image/arow.png);margin-top:1%;}.blog{width:90%;height:auto;background-color:#dfdfdf;margin:auto;overflow:hidden;}.blog>h3{font-family:font1;font-size:35px;color:#000000;font-weight:200;margin:0px;margin-top:2%;}.blog>p{margin:auto; font-family:font1;font-size:18px;color:#000;text-align:justify;font-weight:normal;margin-top:2%;}.blog>p img{float:right;padding-left:2%;width:40%;height:auto;}/*****placed******/.place{width:40%;height:auto;background-color:#fff;margin:auto;overflow:hidden;border-radius:15px;float:left;text-align:center;margin:3% 1% 2% 5%;}.place>h3{font-family:font1;font-size:25px;color:#000000;font-weight:200;margin:0px;margin-top:2%;width:100%;}.place>h4{font-family:font1;font-size:20px;color:#000000;font-weight:200;margin:0px;margin-top:1%;width:100%;}.video{width:40%;height:auto;background-color:#fff;margin:auto;overflow:hidden;float:left;text-align:center;margin:3% 1% 2% 5%;}.video>h3{font-family:font1;font-size:20px;color:#000000;font-weight:200;margin:0px;margin-top:2%;width:100%;}#career{width:40%;height:auto;background-color:#fff;margin:auto;overflow:hidden;border:2px solid #00bdf4;text-align:center;margin-bottom:2%;border-radius:15px;}#career>form h3{font-size:20px;font-family:font2;color:#0074b4;margin:1%;font-weight:bold;text-align:center;}.sh,.serch{width:70%;margin:auto;margin-top:6%; border:rgba(0,153,255,1) thin solid; padding:10px 5%;}.btnn{margin:auto;margin-top:2%;background-color:#CCC;color:#000;font-family:font2;font-weight:bold;font-size:18px; border:none; padding:10px 5%; width:70%;}#career>h2{font-size:25px;font-family:font2;color:#0074b4;margin:1%;font-weight:bold;text-align:center;}#sign{width:50%;height:auto;margin:auto;padding:2%;overflow:hidden;}#sign h2{font-family:font1;margin:0px;font-size:16px;color:#000;font-weight:bold;float:left;}#sign a{font-family:font3;margin:0px 0px 0px 4%;font-size:14px;color:#000;font-weight:bold;text-decoration:none;}#sign a:hover{color:#0CF;}.srch{width:80%;height:25px;border:#09F 1px solid;border-radius:2px ;background-color:#fff; padding:5px 20px;}select.sh{width:80%;}.dwn{width:60%;height:auto;background-color:#fff;margin:auto;overflow:hidden;text-align:left;margin-bottom:2%;border-radius:15px;padding:2%;}.dwn>ul li{font-family:font1;font-size:25px;color:#CC0000;font-weight:200;margin:0px;margin-top:2%;width:100%;list-style:url(../image/arow.png);}.dwn>ul li a{font-family:font1;font-size:18px;color:#FFFFFF;font-weight:200;margin:0px;text-decoration:none;background-color:#3CC;padding:1% 2% 1% 2%;margin-left:10%; }.dwn>ul li a:hover{background-color:#C30;}.cert{width:40%;height:auto;background-color:#fff;margin:auto;overflow:hidden;text-align:center;margin-bottom:2%;border-radius:15px;padding:2%;}.cert>h3{font-family:font1;font-size:25px;color:#CC0000;font-weight:200;margin:1%;width:100%;list-style:none;}.cert>a{font-family:font1;font-size:18px;color:#FFFFFF;font-weight:200;text-decoration:none;background-color:#3CC;padding:1% 2% 1% 2%; }.cert>a:hover{background-color:#C30;}.csrh{width:190px;height:25px;border:1px solid #000;}.cbt{width:80px;height:25px;border:none;background-color:#0074b4;color:#fff;}#list{width:100%;height:auto;margin:auto;text-align:center;}#list h3{font-family:font1;font-size:50px;font-weight:100;color:#0a88ce;margin:0px;text-align:center;}#list h1{font-family:font1;font-size:50px;font-weight:100;color:#0a88ce;margin:0px;text-align:center;}#list>p{font-family:font1;color:#777777;font-size:14px;text-align:center;margin:0px; margin-top:2%;}/********************************************************************Portfolio********************************************************/.poortfolio{width:80%;height:auto;margin:auto;overflow:hidden;margin-top:2%;text-align:center;}.full{width:25%;height:410px;overflow:hidden;margin-left:0%;float:left;}.full h4{font-weight:bold; font-size:20px;text-align:center;margin:0px; margin-top:1%;font-family:font2;}.full>p{font-family:font2;font-size:14px;color:#777777;font-weight:100;margin:auto;text-align:justify;padding-top:2%;overflow:hidden;width:90%;height:auto}.full a{font-weight:100; font-size:16px;text-align:center;margin:0px;text-decoration:none;font-family:font1;}.full img{width:60%;}/********Contact*************/.contact{width:40%;height:auto;overflow:hidden;margin:2% 0 2% 4%;background-color:#f6f6f6;text-align:left;padding:2%;border-bottom-left-radius:40px;border-top-right-radius:40px;float:left;}.contact>h3{float:left;font-size:25px;font-family:font2;color:#0074b4;margin:1% 0 0 2%;font-weight:bold;}.contact>h4{float:left;font-size:20px;font-family:font2;color:#000000;margin:0% 0 0 2%;font-weight:100;width:100%;}.map{width:100%;height:auto;margin:auto;overflow:hidden;}.dd{width: 100%;height: 1px;overflow: hidden;}.contact>h5{font-size:16px;font-family:font2;color:#0074b4;font-weight:bold;border-bottom: 2px solid #0068a2;margin: 0px;}.box4{width:40%;height:auto;margin-top:1%;float:right;margin-right:10%;overflow:hidden;}#enquiryform{width:80%;height:auto;margin:auto;overflow:hidden;border-radius:10px;padding:2%;background-color:#e8e8e8;padding-top:0px;text-align:center;margin-top:3%;margin-bottom:5%;border:2px solid #fff;box-shadow: 0px 6px 5px #888888;}#enquiryform img{margin:auto;width:auto;height:80px;}.msg{width:70%;margin:auto;margin-top:6%; border:rgba(0,153,255,1) thin solid; padding:10px 5%;}.bt{margin:auto;margin-top:6%;background-color:#00aeef;color:#000;font-family:font2;font-weight:bold; border:none; padding:5px 20px;font-size:18px;}.franchiseeform{width:95%;height:auto;margin:auto;overflow:hidden;border-radius:10px;background-color:#e8e8e8;padding-top:0px;text-align:center;margin-top:3%;margin-bottom:5%;border:2px solid #fff;box-shadow: 0px 6px 5px #888888;}.franchiseeform>h3{font-size:30px;font-family:font2;color:#0074b4;margin:1%;font-weight:bold;text-align:center;}.serch1{width:70%;margin:auto;margin-top:6%; border:rgba(0,153,255,1) thin solid; padding:10px 5%;}.msg1{width:70%;margin:auto;margin-top:6%; border:rgba(0,153,255,1) thin solid; padding:10px 5%;}.frch{width:70%;margin:auto;margin-top:6%; border:rgba(0,153,255,1) thin solid; padding:10px 5%;}select.frch{width:70%;}.frh{width:26%;height:auto;float:left;padding:2%;margin-left:2%;}.frh>h3{font-size:20px;font-family:font2;color:#0074b4;margin:1%;font-weight:bold;text-align:center;}/***********************Slideshow****************************************************/#gall_bg,.gall_incontainer,.gall_nb,#gall_image{ transition:all .3s; z-index:4000; }#gall_bg{display:none; width:100%; margin:auto; height:100%; overflow:scroll; position:fixed; top:0; left:0; text-align:center; background:rgba(0,0,0,.8);}.gall_incontainer{width:60%; background:#FFF; height:auto;  position:relative; display:inline-block; margin:auto; margin-top:0;}.gall_nb{width:auto; position:absolute; top:48%; padding:5px 10px; background:#666; color:#FFF; font-family:Verdana, Geneva, sans-serif; cursor:pointer; font-size:18px;}.box6{width:22%;height:auto;overflow:hidden;margin:2% 0 2% 5%;background-color:#f6f6f6;text-align:center;float:left;}.box6>h3{font-size:20px;font-family:font2;color:#000000;margin:1%;font-weight:bold;}.box6>h4{font-size:18px;font-family:font2;color:#000000;margin:1%;font-weight:bold;}.ans{width:100%;height:250px;overflow:hidden;text-align:center;}.ans img{width:100%;}.brand{width:80%;height:auto;margin:auto;}.brand>a{font-family:font1;font-size:25px;color:#000;text-decoration:none;padding:1%;margin-left:3%;}.brand>a:hover{color:#0CC;}/**********Course************/.course{width:90%;height:auto;margin:auto;overflow:hidden; padding-bottom:3%;}.c_left{width:100%;height:auto;overflow:hidden;float:left;}#cont{width:30%;height:auto;overflow:hidden;float:left;background-color:#FFF;margin-right:2%;}#cont h3{font-family:font1;font-size:22px;color:#fff;background-color:#02a3da;text-decoration:none;width:95%;text-align:left;padding-top:2%;padding-bottom:2%;margin:0px;margin-top:10px;overflow:hidden;padding-left:5%; }.course>p{font-family:font1;font-size:18px;color:#000;text-align:justify;}.course>h2{font-family:font1;font-size:30px;color:#000000;font-weight:200;margin:0px;width:auto;}.course>a{font-family:font1;font-size:18px;font-weight:100;margin:0px;text-transform:capitalize;text-decoration:none;width:auto;float:left;}.course>a:hover{color:#C00;}.course>h5{font-family:font1;font-size:18px;font-weight:100;margin:0px;text-transform:lowercase;text-indent:5px;color:#39F;width:auto;}.c_box{width:100%;height:auto;background-color:#FFF;float:left; margin:1%;margin:0px;border-bottom:1px dashed #999;padding-left:10%;}.c_box>a{font-family:font1;font-size:17px;color:#000;text-decoration:none;padding:1% 3% 0 3%;}.c_box>h4{font-family:font1;font-size:20px;color:#999;text-decoration:none;margin:0px;margin-left:3%;margin-bottom:1%;}.c_box:hover{background-color:#def5fc;}.c_box>p{font-family:font1;font-size:20px;color:#999;text-decoration:none;margin:0px;margin-left:3%;margin-bottom:1%;}/*************Footer***************/#footer{width:100%;height:auto;overflow:hidden;background-color:#0074b4;padding-bottom:1%;}	#footerbox{width:80%;height:auto;margin:auto;overflow:hidden;margin-top:1%;}	.innerbox{width:25%;height:auto;overflow:hidden;float:left;}.innerboxhead{width:100%;height:auto;font-size:22px;color:#fff;text-align:left;font-weight:bold;font-family:font1;}.innerboxhead>h4{font-size:22px;color:#fff;text-align:left;font-weight:bold;font-family:font1;margin:0px;margin-left:10%;}.footbody{width:100%;height:auto;background-color:transparent;}.footbody>a{	color:#FFFFFF; text-decoration:none;font-size:16px;font-family:font1;width:100%;float:left;padding-top:0px;margin-left:10%;}.footbody h5{color:#FFFFFF;text-align:left;padding-top:1px;font-family:font1;width:100%;margin:0px;font-weight:100;font-size:14px;}	.footbody>p{font-family:font1;font-size:12px;color:#FFF;font-weight:100;margin:0px;}
#line{width:100%;margin:auto;height:auto;background-color:#0068a2;padding-top:1%;padding-bottom:1%;overflow:hidden;
}.search{width:90%;height:30px;border:none;border-radius:2px;background-color:#fff;float:left;margin-top:1%;}.des{width:90%;height:95px;border:none;border-radius:2px;background-color:#fff;float:left;margin-top:5%;}	.buton{background-color:#005d90;background-size:100% 100%;border:none;width:45%;height:35px;float:left;margin-top:1%;color:#FFF;font-size:14px;font-weight:bold;border-radius:2px;}#power{width:80%;margin:auto;height:auto;background-color:#0068a2;color:#FFF;font-family:font1;}#power>img{float:right;}#power>a{text-decoration:none;color:#FFF;}#icon{float:right;width:20%;height:auto;margin-right:3%;}#icon a{float:right;margin-left:10%;}@media screen and (max-width:1300px){#topnav a{ padding:1% 2% 1% 2%; margin-left:0px;margin-right:0px;}#product{width:90%;}#con2{width:90%;}.poortfolio{width:100%;}.anshad{width:90%;}}@media screen and (max-width:1000px){#topnav{float:none;width:100%;margin:0px;text-align:center;}#product{width:90%;}.button2{font-size:20px;}.poortfolio{width:100%;}#con2{width:90%;}#footerbox{width:96%;}.anshad{width:90%;}#power{width:96%;}}@media screen and (max-width:800px){.header>img{margin:0px;}#topnav{float:none;width:100%;}#topnav a{ padding:1% 1.7% 1% 1.7%; margin-left:0px;margin-right:0px;font-size:16px;}.pdt {width:45%;margin-top:5%; }.full{width:30%;margin-left:10%; }.poortfolio{width:100%;}#cont_inner{width:98%;}#con2{width:98%;}.course{width:98%;}.course>a{font-size:26px;margin-top:2%;float:left;margin-right:3%;}.box6{width:40%;}.frh{width:40%;}#career{width:60%;}}@media screen and (max-width:700px){.an1{width:80%;float:none;margin:auto;}.an2{width:80%;float:none;margin:auto;}.contact,.box4{width:80%;float:none;margin:auto;margin-top:5%;}.place,.video,.dwn{width:70%;float:none;margin:auto;margin-top:5%;}.dwn,.cert{width:90%;float:none;margin:auto;margin-bottom:5%;}#sign{width:80%;float:none;margin:auto;margin-bottom:5%;}.blog>p img{float:none;padding:2%;margin:auto;width:80%;}}@media screen and (max-width:500px){.pdt,.full,.box6,.frh,#career{width:80%;float:none;margin:auto;margin-top:5%;}.an1{width:90%;float:none;margin:auto;}.an2{width:90%;float:none;margin:auto;}.innerbox,.c_box{width:80%;float:none;margin:auto;margin-top:5%;}#icon{float:none;width:80%;margin:auto;margin-top:5%;text-align:center;}.contact>h3{font-size:22px;}.contact>h4{font-size:18px;}#about>h2,#list>h3{font-size:30px;}.anshad>p,.course>p,.anshad>ul li{font-size:16px;}.anshad>h2,.blog>h3{font-size:27px;}.course>a{font-size:17px;}.course>h5,.anshad>h4{font-size:20px;}.c_box>a{font-size:20px;}.c_box>h4{font-size:17px;}.place,.video,.dwn{width:96%;}.c_left{width:80%;float:none;margin:auto;}#cont{width:80%;float:none;margin:auto;}}.portf{ width:100%; text-align:center; margin:auto; height:auto; margin-top:20px; margin-bottom:20px; min-height:20px; overflow:hidden; }.boxgrid:hover div{ opacity:0.5;}.modiv1 { width:100%; height:100%; position:absolute; opacity:0; background:#000000; transition:all .9s; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);				/* For IE 8 */				-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; }				.modiv1 img { margin-top:42%; margin-left:40%;}.modiv1 p {color:#FFFFFF; font-size:20px; font-weight:500; margin-top:68%; letter-spacing:1px;}.modiv { width:100%; height:100%; position:absolute; opacity:0; background:#000000; transition:all .9s; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);				/* For IE 8 */				-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; }.modiv img { margin-top:22%; margin-left:40%;}.modiv p {color:#FFFFFF; font-size:20px; font-weight:500; margin-top:48%; letter-spacing:1px;}/***********************************PORTFOLIO ANIMATION*************************************************************/		/*	.h3{ margin: 10px 10px 0 10px; color:#FFF; font:18pt Arial, sans-serif; letter-spacing:-1px; font-weight: bold;  }						.mainbox{ width:auto; height:auto; overflow:hidden; display:inline-block;}			.mainbox p{ text-align:center; font:font1; line-height:3px; }			.mainbox h3{ text-align:center; font:font1; font-size:20px; font-weight:400; line-height:8px; }			.boxgrid{ 				width: 265px; 				height: 270px; 				margin:10px; 				//float:left; 				background:#ececea; 				border: solid 2px #0099FF; 				overflow: hidden; 				position: relative; 			}				.boxgrid img{ 					position: absolute; 					top: 0; 					left: 0; 					border: 0; 				}				.boxgrid a>img{width:100%;}